{% extends "base.html" %}
{% load static %}
{% block title %}Area {% endblock %}

		<meta charset="utf-8"/>
		
		{% block content %}
		<div class="ativi">
		<div class="w3-bar w3-blue w3-card w3-left-align w3-large">
	<br><br><br>
       <center> <h1>Escola <em>Floresta</em></h1>
				<h6>Mudando a Educação Brasileira</h6>
				
        {% if user %}
            <p>Olá {{ user | upper }}, tudo bem?</p>
        {% endif %}
        <ul>
            {% for curso in cursos %}
                {% if curso.ativo %}
                    <li class="{{ curso.classe }}">{{ curso.nome }} - {{curso.sigla}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if perfil == 'aluno' %}
            <p>Conteúdo para Alunos!</p>
        {% elif perfil == 'professor' %}
            <p>Conteúdo para Professores!</p>
        {% endif %}
    {% endblock %}
	</center>
	