<!DOCTYPE html>
<html>
	<head>
		{%extends "base.html"%}
        {% load static %}
		{% block extrastyle %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static "css/area_professor.css" %}" rel="stylesheet">
		{% endblock %}
		<title>{%block title%}Área do Professor{%endblock%}</title>
	</head>	
	<body>
		{%block container%}
		<form class="center">	
			<img src="img/prof.png" width="150px"></br></br>
			<input type="text" name="apelido" placeholder="Apelido" id="apelido"></br></br>
			<input type="password" name="senha" placeholder="Senha" id="senha"></br></br>
			<input type="submit" value="Login">
		</form>
		{%endblock%}
	
	</body>
</html>