<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        {% block extrastyle %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body> 
        <div class="container">
            <header>
                <img src="{% static "img/logo.png" %}" width="False">
                <button class="button"><span>Início</span></button>
                <button class="button"><span>Cursos</span></button>
                <button class="button"><span>Sobre</span></button>
                <button class="button"><span>Login</span></button>
            </header>
        </div>
            <main>
                {%block container%} {%endblock%}
            </main>
        <div class="container">
            <footer>
                <img src="{% static "img/tel.png.png" %}" width="70px" >                       
                <img src="{% static "img/email.png.png" %}" width="70px" >
                <img src="{% static "img/local.png.png" %}" width="70px">
            </footer>
        </div>
    </body>
</html>