<!DOCTYPE html>
<html>
	<head>
		<title>Dados pessoais</title>
		<meta charset="utf-8">
	</head>
	<body>
		{%block container%}
		<form>
			<h3>Dados de pessoais<h3>
			<!--<label for="nome"> Nome</label> -->
			<input type="text" name="nome"  placeholder="Insira seu nome"><br>
			<input type="text" name="email" placeholder="Insira seu e-mail"><br>
			<input type="tel" name="celular" placeholder="(##)####-####"
			maxlength="15" autocomplete="off" pattern="^\d{4}-\d{3}-\d{4}$" required><br>
		
		
			
			
		</form>
			<form>
				<h3>Dados de endereço<h3>
				<input type="text" name="cep" pattern="{7}" placeholder="Insira seu CEP"><br>
				<input type="text" name="endereco" placeholder="Insira seu endereço"><br>
				<input type="text" name="cidade" placeholder="Insira a cidade"><br>
				<input type="text" name="bairro" placeholder="Insira o bairro"><br>
				<input type="text" name="numero" placeholder="Insira o número"><br>
				<input type="text" name="complemento" placeholder="Insira o complemento"><br>
				<input type ="password" name="senha" placeholder="Insira a senha"><br>
				<input type="file" name="foto"><br><br>
				<input type="submit" value="Salvar">
				
			</form>
		{%endblock%}
	</body>
	
</html>