<!DOCTYPE html>

<html>
	<head>
		<title> Login e senha Professor</title>
		<meta charset="utf-8">
        <link  rel="stylesheet" href="stylo.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
		rel="stylesheet">
		
      
	</head>
	
	<body>
		<!--{%block container%}-->
		<div class ="login">
			<div class="glass">
				<center><img src="prof.png" class="user" width="200px"></center>
				<h3>Digite os dados de login</h3>
				
                <form>
					<span><i class="fa fa-user-o" aria-hidden="true"></i></span>
					<div class=inputBox">
						<input type="text" name="" placeholder="Código">
						
				    </div class=inputBox">
                </form>
					<form>
						<i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <div class=inputBox">
						<input type="password" name="" placeholder="Password">
						
						</div>
                    </form>
						
                    <input type="subimit" name="" value="login">
                   
				
				<a href="#"> Esqueceu sua senha</a>
			</div>
				
		</div>
				
		
		
		<!--{%endblock%} -->
	</body>
	

</html>