<!DOCTYPE html>

<html>
	<head>
		<title> Login e senha</title>
		<meta charset="utf-8">
        <link  rel="stylesheet" href="stylo.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
		rel="stylesheet">
		
      
	</head>
	
	<body>
		<!--{%block container%}-->
		<div class ="login">
			<div class="glass">
				<center><img src="guri.png" class="user" width="200px"></center>
				<h3>Clique aqui</h3>
				<form>
					<div class=inputBox">
					<span><i class="fa fa-user-o" aria-hidden="true"></i></span>
						<input type="text" name="" placeholder="Nome">
						
						</div>
					<div class=inputBox">
						<input type="text" name="" placeholder="RA">
						
						</div>
					<div class=inputBox">
						<i class="fa fa-unlock-alt" aria-hidden="true"></i>
						<input type="password" name="" placeholder="Password">
						
						</div>
						<input type="subimit" name="" value="login">
				</form>
				<a href="#"> Esqueceu sua senha, já ela!</a>
			</div>
				
		</div>
				
		
		
		<!--{%endblock%} -->
	</body>
	

</html>