<!DOCTYPE html>
<html>
	<head>
		<title>Sobre</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="estilo.css">
	</head>
	<body>
		<section>
			<div>
				<center><h1>A INSTITUIÇÃO</h1></center>
				<pre><center>
Fundada em 1998, a Escola Floresta está localizada no coração de São Paulo!

Da vocação de uma Casa de Cultura, o mantenedor transformou, através de uma 

intervenção arquitetônica de três anos, o prédio-teatro, chamado agora de 

Edifício Floresta Educacional, Desde a sua fundação, a Floresta se moldou

em sólidos e importantes pilares para uma instituição de ensino: qualidade

no ensino, inovação e estrutura de ponta. Tais pilares reforçam o compromisso

com o aluno, e o crescimento contínuo da escola deixa claro que a Floresta 

está no caminho certo.Tendo como missão formar pessoas para transformar a 

sociedade, a Floresta alcançou um status de excelência no ensino Médio no país.

<strong>#VempraFlorestaEducacional</strong><center>
			</pre><br>
			<div>
				<center><h1>HISTÓTIA</h1></center>
				<pre><center>

Um sonho pessoal transformado em realidade pelo mantenedor: oferecer à cidade de São Paulo, na

rua Garcias Garcez, um serviço educacional diferenciado dos existentes na rede privada de ensino Médio.

Trata-se do mais inovador projeto de ensino dos últimos tempos e por isso temos orgulho de apresentá-lo.

A transformação tem início com a aquisição do antigo edifício-sede do Teatro Record, com todo o passado 

cultural inscrito na história artística da cidade de São Paulo, principalmente nas décadas dos anos 60/70, 

onde e quando ocorreram diferentes manifestações cívico-artísticas que deram partida à rápida transformação
 
da vida sócio-econômica, artística e cultural paulistana.

			</div>	
				
				<center><h1>SIGA-NOS</h1></center>
				<center><div class="insta">
					<a href="www.google.com"><img src="insta.png"width="50px"></a>
				<!-- <div class="face"> -->
					<a href="www.google.com"><img src="face.png"width="70px"></a>
				<!-- <div class="you"> -->
					<a href="www.google.com"><img src="youtube.png"width="50px"></a>
				</div></center>
				
		</section>
		
	
	</body>

</html>